

{% assign block_settings = block.settings %}
{% assign icon_block_class = 'icon-block__media icon-block-' | append: block.id %}

{% capture icon %}
  {% render 'icon-or-image',
    icon: block_settings.icon,
    image_upload: block_settings.image_upload,
    width: block_settings.width,
    class_name: icon_block_class,
    attributes: block.shopify_attributes
  %}
{% endcapture %}

{%- if block_settings.link != blank -%}
  <a
    href="{{ block_settings.link }}"
    class="text-inherit"
    {% if block_settings.open_in_new_tab %}
      target="_blank" rel="noopener"
    {% endif %}
  >
    {{ icon }}
  </a>
{%- else -%}
  {{ icon }}
{%- endif -%}

{% stylesheet %}
  .icon-block {
    display: flex;
    flex-shrink: 0;
  }

  .icon-block__media {
    height: auto;
  }
{% endstylesheet %}

{% schema %}
{
  "name": "t:names.icon",
  "class": "icon-block",
  "settings": [
    {
      "type": "select",
      "id": "icon",
      "label": "t:settings.icon",
      "options": [
        { "value": "none", "label": "t:options.none" },
        { "value": "arrow-down", "label": "Arrow down" },
        { "value": "arrow-left", "label": "Arrow left" },
        { "value": "arrow-return", "label": "Arrow return" },
        { "value": "arrow-right", "label": "Arrow right" },
        { "value": "arrow-sort", "label": "Arrow sort" },
        { "value": "arrow-topright", "label": "Arrow top right" },
        { "value": "arrow-undo", "label": "Arrow undo" },
        { "value": "arrow-up", "label": "Arrow up" },
        { "value": "bag", "label": "Bag" },
        { "value": "bed", "label": "Bed" },
        { "value": "bin", "label": "Bin" },
        { "value": "calendar", "label": "Calendar" },
        { "value": "chat", "label": "Chat" },
        { "value": "chat-review", "label": "Chat review" },
        { "value": "close", "label": "Close" },
        { "value": "cog", "label": "Cog" },
        { "value": "cotton", "label": "Cotton" },
        { "value": "coupon", "label": "Coupon" },
        { "value": "earth", "label": "Earth" },
        { "value": "feather", "label": "Feather" },
        { "value": "filter", "label": "Filter" },
        { "value": "gift", "label": "Gift" },
        { "value": "globe", "label": "Globe" },
        { "value": "gps", "label": "GPS" },
        { "value": "hanger", "label": "Hanger" },
        { "value": "heart", "label": "Heart" },
        { "value": "heart-fill", "label": "Heart (filled)" },
        { "value": "info-circle", "label": "Info circle" },
        { "value": "iron", "label": "Iron" },
        { "value": "laundry", "label": "Laundry" },
        { "value": "laundry-basket", "label": "Laundry basket" },
        { "value": "layer", "label": "Layer" },
        { "value": "leaf", "label": "Leaf" },
        { "value": "location-gps", "label": "Location GPS" },
        { "value": "location-pin", "label": "Location pin" },
        { "value": "location-target", "label": "Location target" },
        { "value": "lock", "label": "Lock" },
        { "value": "mail", "label": "Mail" },
        { "value": "payment", "label": "Payment" },
        { "value": "phone", "label": "Phone" },
        { "value": "profile", "label": "Profile" },
        { "value": "question-circle", "label": "Question circle" },
        { "value": "returns", "label": "Returns" },
        { "value": "ruler", "label": "Ruler" },
        { "value": "save", "label": "Save" },
        { "value": "search", "label": "Search" },
        { "value": "share", "label": "Share" },
        { "value": "shipping", "label": "Shipping" },
        { "value": "sleep", "label": "Sleep" },
        { "value": "star", "label": "Star" },
        { "value": "star-fill", "label": "Star (filled)" },
        { "value": "swatch", "label": "Swatch" },
        { "value": "swatches", "label": "Swatches" },
        { "value": "tag", "label": "Tag" },
        { "value": "thread", "label": "Thread" },
        { "value": "tick", "label": "Tick" },
        { "value": "tick-circle", "label": "Tick circle" },
        { "value": "towel", "label": "Towel" },
        { "value": "warning-circle", "label": "Warning circle" },
        { "value": "wrench", "label": "Wrench" }
      ],
      "default": "shipping"
    },
    {
      "type": "image_picker",
      "id": "image_upload",
      "label": "t:settings.image_icon"
    },
    {
      "type": "range",
      "id": "width",
      "label": "t:settings.width",
      "min": 12,
      "max": 200,
      "step": 2,
      "unit": "px",
      "default": 24
    },
    {
      "type": "url",
      "id": "link",
      "label": "t:settings.link"
    },
    {
      "type": "checkbox",
      "id": "open_in_new_tab",
      "label": "t:settings.open_new_tab",
      "default": false
    }
  ],
  "presets": [
    {
      "name": "t:names.icon",
      "category": "t:categories.basic",
      "settings": {
        "icon": "shipping"
      }
    }
  ]
}
{% endschema %}
